paper-item #ripple,
paper-item::shadow #ripple {
		color: #3367d6;
}

paper-tabs::shadow #selectionBar {
  background-color: #ff4081;
}

paper-tabs paper-tab::shadow #ink {
  color: #ff4081;
}

paper-tabs {
		width: 200px;
		margin: 1em;
}


core-selector .core-selected {
  background: #eee;
  color: #4285f4;
}


.container {
	display: flex;
}

.runresult {
	display: flex;
	justify-content: space-around;
	font-size: 16px;
	height: 48px;
	width: 220px;
	align-items: center;
	cursor: pointer;
}

.runresult span {
	flex-basis: 50%;
	text-align: center;
}

paper-ripple {
	color: #3367d6;
}

.statistics {
	width: 250px;
	margin-left: 1em;	
}
